@import url("browser-stylesheet-import.css") screen;
.external { width:60%; margin:12px auto; padding:10px; border:2px solid #224466; background:#e0f0ff }
.external p { font-size:20px; margin:0; color:#aa0000 }
